    <!---------------------------Header---------------------------------------->
    <%- include( "header-footer/header") %>

    <header>
        <h1>Update User</h1>
    </header>

    <form action="/edit/<%- employeedata._id%>" method="post">

      <div class="container">
          <label for="Employee_ID">Employee_ID</label>
          <input type="text" value="<%- employeedata.Employee_ID%>" placeholder="Enter a Employee_ID" name="Employee_ID" >

          <label for="Full_Name">Full_Name</label>
          <input type="text" value="<%- employeedata.Full_Name%>" name="Full_Name" >
  
          <label for="Job_Title">Job_Title</label>
          <input type="text" value="<%- employeedata.Job_Title%>" name="Job_Title" >
  
          <label for="Department">Department</label>
          <input type="text" value="<%- employeedata.Department%>" name="Department" >
  
  
          <label for="Business_Unit">Business_Unit</label>
          <input type="text" value="<%- employeedata.Business_Unit%>" name="Business_Unit" >

          <label for="Gender">Gender</label>
          <input type="text" value="<%- employeedata.Gender%>" name="Gender" >

          <label for="Age">Age</label>
          <input type="text" value="<%- employeedata.Age%>" name="Age" >

          <label for="Hire_Date">Hire_Date</label>
          <input type="text" value="<%- employeedata.Hire_Date%>" name="Hire_Date" >

          <label for="Annual_Salary">Annual_Salary</label>
          <input type="text" value="<%- employeedata.Annual_Salary%>" name="Annual_Salary" >

          <label for="Bonus_percentage">Bonus_percentage</label>
          <input type="text" value="<%- employeedata.Bonus_percentage%>" name="Bonus_percentage" >

          <label for="Exit_Date">Exit_Date</label>
          <input type="text" value="<%- employeedata.Exit_Date%>" name="Exit_Date" >

          <label for="Email">Email</label>
          <input type="text" value="<%- employeedata.Email%>" name="Email" >

          <label for="Phone">Phone</label>
          <input type="text" value="<%- employeedata.Phone%>" name="Phone" >
  
          <a href="/"><button type="submit" class="button">Submit</button></a>

  
      </div>

  </form>
  



    </div>
  
    <!---------------------------Footer---------------------------------------->
    <%- include("header-footer/footer") %>