    <!---------------------------Header---------------------------------------->
    <%- include( "header-footer/header") %>

  
    <header>
        <h1> vehicle Expenditure</h1>
    </header>

    <div class="full_table">
      <table class="table table-sm">
      
        <thead>
          <tr class="table-head" >
            
            <th scope="col">Employee ID</th>
            <th scope="col">Full Name</th>
            <th scope="col">Salary</th>
            <th scope="col">Uses of vehicles</th>
            <th scope="col">vehicle Type</th>
            <th scope="col">vehicle ID</th>
            <th scope="col">vehicle Number</th>
            <th scope="col">Month</th>
            <th scope="col">Fuel Type </th>
            <th scope="col">Meter Start(KM) </th>
            <th scope="col">Meter End(KM)</th>
            <th scope="col">Traversal Perday(KM)</th>
            <th scope="col">Fuel Entered Perday(Liter)</th>
            <th scope="col">Days Count</th>
            <th scope="col">Fuel Cost Perday(Taka)</th>
            <th scope="col">Monthly Cost</th>
            <th scope="col">Limit</th>
            <th scope="col">Action</th>
          </tr>
          
        </thead>
        <tbody>


          <% for(var i=0; i< expenditure.length; i++) {%>
            <tr>
              <th scope="row"><%= expenditure[i].Employee%></th>
              <th scope="col"><%= expenditure[i].Name%></th>
              <th scope="col"><%= expenditure[i].Salary%></th>
              <th scope="row"><%= expenditure[i].Vehicles%></th>
              <th scope="col"><%= expenditure[i].Vehicle_type%></th>
              <th scope="col"><%= expenditure[i].Vehicle_id%></th>
              <th scope="col"><%= expenditure[i].Vehicle_no%></th>
              <th scope="col"><%= expenditure[i].Month%></th>
              <th scope="col"><%= expenditure[i].Fuel_type%></th>
              <th scope="col"><%= expenditure[i].Meter_start%></th>
              <th scope="col"><%= expenditure[i].Meter_end%></th>
              <th scope="col"><%= expenditure[i].Traversal_perday_KM%></th>
              <th scope="col"><%= expenditure[i].Fuel_entered_perday%></th>
              <th scope="col"><%= expenditure[i].Days_count%></th>
              <th scope="col"><%= expenditure[i].Perday_cost%></th>
              <th scope="col"><%= expenditure[i].Monthly_cost%></th>
              <th scope="col"><%= expenditure[i].Limit%></th>
            
              <th>
                <a href="" class="btn border-shadow update">
                  <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
              </a>
              <a href="" name="deleteBtn" class="btn border-shadow delete" href="" > 
                  <span class="text-gradient"><i class="fas fa-times"></i></span>
              </a>
              </th>
            
            </tr>
            <% } %>




 
          
        </tbody>
      </table>







</body>
</html>

