    <!---------------------------Header---------------------------------------->
    <%- include( "header-footer/header") %>

  
    <header>
        <h1> Employee List</h1>
    </header>

    <div class="full_table">
      <table class="table table-sm">
      
        <thead>
          <tr class="table-head" >
            
            <th scope="col">Employee ID</th>
            <th scope="col">Full Name</th>
            <th scope="col">Job Title</th>
            <th scope="col">Department</th>
            <th scope="col">Business Unit</th>
            <th scope="col">Gender</th>
            <th scope="col">Age</th>
            <th scope="col">Hire Date</th>
            <th scope="col">Annual Salary</th>
            <th scope="col">Bonus percentage</th>
            <th scope="col">Exit Date</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Action</th>
            <th scope="col">vehicle expenditure</th>
          </tr>
          
        </thead>
        <tbody>
          <% for(var i = 0; i < employee.length; i++) { %>
          <tr>
            <th scope="row"><%= employee[i].Employee_ID %></th>
            <th scope="col"><%= employee[i].Full_Name %></th>
            <th scope="col"><%= employee[i].Job_Title %></th>
            <th scope="col"><%= employee[i].Department %></th>
            <th scope="col"><%= employee[i].Business_Unit %></th>
            <th scope="row"><%= employee[i].Gender %></th>
            <th scope="col"><%= employee[i].Age %></th>
            <th scope="col"><%= employee[i].Hire_Date %></th>
            <th scope="col"><%= employee[i].Annual_Salary %></th>
            <th scope="col"><%= employee[i].Bonus_percentage %></th>
            <th scope="col"><%= employee[i].Exit_Date %></th>
            <th scope="col"><%= employee[i].Email %></th>
            <th scope="col"><%= employee[i].Phone %></th>
            

            <th>
              <a href="/edit/<%= employee[i]._id%>" class="btn border-shadow update">
                <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
            </a>
            <a href="/delete/<%=employee[i]._id%>" name="deleteBtn" class="btn border-shadow delete" href="" > 
                <span class="text-gradient"><i class="fas fa-times" style="color: red;"></i></span>
            </a>
            </th>
            <th scope="col">
             <a href="/addvehicleExpenditure" name="addBtn" class="btn border-shadow delete" href="" > 
                <span class="text-gradient"><i class="fas fa-times" style="transform: rotate(45deg); color: green;"></i></span>
             </a>
            <a href="/perEmployeeExpenditure/<%=employee[i]._id%>/<%= employee[i].Employee_ID %>" class="btn border-shadow update">
              <span class="text-gradient"><i class="fas fa-street-view"></i></span>
            </a>
            </th>

          </tr>

          <% } %>


 
          
        </tbody>
      </table>
    
    </div>
    

    
    <!---------------------------Footer---------------------------------------->
    <%- include("header-footer/footer") %>